%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "language", :content => "en"}
    %meta{:name => "description", :content => "fucking ship it"}
    %meta{:name => "keywords", :content => "software agile lean startup startups"}

    %title fucking ship it

    %body
      = yield

    - if production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36836831-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();