:css
  h1 {
    margin      : 100px;
    font-size   : 8em;
    font-family : "Helvetica";
    text-align  : center;
  }
  #footer {
    text-align: center;
  }

%h1 fucking ship it

#footer
  - if production?
    %a{:href => "https://twitter.com/intent/tweet?button_hashtag=fuckingshipit", :class => "twitter-hashtag-button", "data-url" => "http://fuckingshipit.com", "data-dnt" => "true", onClick => "_gaq.push(['_trackEvent', 'Links', 'Click', 'Tweet #fuckingshipit']);"} Tweet #fuckingshipit
  - else
    %a{:href => "https://twitter.com/intent/tweet?button_hashtag=fuckingshipit", :class => "twitter-hashtag-button", "data-url" => "http://fuckingshipit.com", "data-dnt" => "true"} Tweet #fuckingshipit

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");