:css
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) { h1 { font-size: 2em; } }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) { h1 { font-size: 5em; } }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) { h1 { font-size: 6em; } }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) { h1 { font-size: 7em; } }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) { h1 { font-size: 8em; } }

  h1 {
    font-family : "Helvetica";
    text-align  : center;
  }
  #footer {
    text-align: center;
  }

%h1 fucking ship it

#footer
  %a{:href => "https://twitter.com/intent/tweet?button_hashtag=fuckingshipit", :class => "twitter-hashtag-button", "data-url" => "http://fuckingshipit.com", "data-dnt" => "true"} Tweet #fuckingshipit

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");